body {
    margin: 0px;
}

header {
    background-color: lightgray;
    height: 100px;
    display: flex;
    align-items: center;
}

.box {
    background-color: rgb(58, 110, 168);
    height: 60px;
    width: 60px;
    position: relative;
    left: 20px;
}

.quest {
    background-color: black;
    color: white;
    font-size: 30px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    bottom: 10px;
    right: 10px;
}

.bla {
    padding: 75px;
}

.blue {
    background-color: rgb(58, 110, 168);
    height: 25vh;
}

.teal {
    background-color: teal;
    height: 25vh;
}

.green {
    background-color: yellowgreen;
    height: 25vh;
}

.yellow {
    background-color: yellow;
    height: 25vh;
}